<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets"
         xmlns:JIL="http://www.jil.org/ns/widgets1.2"
         xmlns:its="http://www.w3.org/2005/11/its"
         id="http://jil.org/wid/42d5a18589a14d1990f6b0ba0451fbaaabbd033d3537a1c4e30c81432d20d791/Demo+Widget"
         version="2.0"
         height="684"
         width="480">
    <JIL:access network="true" localfs="true" remote_scripts="true"/>
    <JIL:billing required="false"/>
    <icon src="Icon.png"/>
    <content src="index.html"/>
    <feature name="http://wacapps.net/api/accelerometer"/>
    <feature name="http://wacapps.net/api/orientation"/>
    <name>Ripple Demo Widget</name>
    <description>The Ripple Emulator Demo Widget</description>
    <license  href="http://www.opensource.org/licenses/mit-license.php">MIT</license>
    <author  email="dan.silivestru@tinyhippos.com">Dan Silivestru and Brent Lintner</author>
</widget>
